@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

body, input, button {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.btn-primary {
    border: 0;
    border-radius: 4px;
    width: 35vw;
    height: 42px;
    padding: 0 20px;
    font-size: 16px;
    font-weight: bold;
    background: #7259C1;
    color: #fff;
    cursor: pointer;
    margin: auto;
  }

/* INPUT TEXT */

.content {
  margin: auto;
}

.content form {
  display: flex;
  flex-direction: column;
  width: 35vw;
}

.content form label {
  font-size: 14px;
  color: #444;
  font-weight: bold;
  margin-bottom: 8px;
}

.content form label span {
  font-weight: normal;
  color: #888;
  font-size: 12px;
}

.content form input {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  height: 45px;
  padding: 0 15px;
  font-size: 16px;
}

.content form .select {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  height: 45px;
  padding: 0 15px;
  font-size: 16px;
}